<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

  <!-- Example #1 -->
  <div id="exampleOne">
    <button v-on:click="didTapOnTestButton">Test</button>
    <span v-bind:title="exampleTwo" v-if="showWelcome">Example #2</span>
  </div>

  <!-- Example #2 -->
  <div id="exampleTwo">
    <ol>
      <li v-for="car in cars">
        {{ car.name }} is color {{car.color}}
      </li>
    </ol>
  </div>

  <!-- Logic Script -->
  <script src="logic.js"></script>
</body>

</html>
